<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkypeCallManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SkypeCallManager.Properties.Settings>
            <setting name="CallStopTime" serializeAs="String">
                <value>20:00:00</value>
            </setting>
            <setting name="OneMinuteMessage" serializeAs="String">
                <value>あと1分ぐらいで通話を終了します</value>
            </setting>
            <setting name="ThreeMinuteMessage" serializeAs="String">
                <value>あと3分ぐらいで通話を終了します</value>
            </setting>
            <setting name="FiveMinuteMessage" serializeAs="String">
                <value>あと5分ぐらいで通話を終了します</value>
            </setting>
            <setting name="TenMinuteMessage" serializeAs="String">
                <value>あと10分ぐらいで通話を終了します</value>
            </setting>
            <setting name="FifteenMinuteMessage" serializeAs="String">
                <value>あと15分ぐらいで通話を終了します</value>
            </setting>
            <setting name="IsSignAfter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sign" serializeAs="String">
                <value>[通話マネージャーから送信]</value>
            </setting>
        </SkypeCallManager.Properties.Settings>
    </userSettings>
</configuration>